<h3>Dear <%= @event.creator.name%>,</h3>
<p>I am <%= @user.name%>.</p>
<p>I am interested in your event '<%= @event.title %>' that you are organizing on '<%= @event.date %>'. Kindly allow me to join your event.</p>