<div class="d-flex justify-content-center">
  <div class="info p-3 mb-2 bg-dark text-white opacity">
    <div>
      <h5 class="text-white">We Grow and Organize</h5>
      <h4 class="text-white"> The Best Events</h4>
      <p class="text-white">Here, you can create event, invite your friends and family member.</p>
    </div>
  </div>
</div>
