<div class="slider-img ">
  <div class="container">
    <div class="slider-info">
      <h5>We Grow and Organize</h5>
      <h4> The Best Events</h4>
      <p style="color: white">Here, you can create event, invite your friends and family member.</p>
    </div>
    <div class="outs_more-buttn mt-md-4 mt-3">
      <a href="#contact">Signup</a>
    </div>
  </div>
</div>